<!DOCTYPE html>
<html>
  <head>
    <title>CnabParser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render "header" %>
      <section class="section">
        <div class="columns is-centered">
          <div class="column is-three-quarters-desktop">
            <%= yield %>
          </div>
        </div>
      </section>
      <%= render "footer" %>
    </div>
  </body>
</html>
